/cg-broker-platform/module/broker/conf/hosts/xiaoshouyi.json
/cg-broker-platform/module/broker/conf/hosts/fxiaoke.json
/build.sh
*.log
.DS_Store
.gradle
.classpath
.project
.settings
.idea
.vertx
.yardoc
.yardopts
bin
build
target
out
test-output
test-results
test-tmp
*.iml
*.class
src/gen
*.out
*.ipr
*.iws
hosts/
SwxaLog/
CG_HOME_IS_UNDEFINED/
uml/
log/